[project]
name = "satellite-position"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "pyserial>=3.5",
    "requests>=2.32.3",
    "skyfield>=1.52",
]
